<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".proto" #>
<#
	var scalarTypesForMapKey = new List<string>()
	{
		"int32",
		"int64",
		"uint32",
		"uint64",
		"sint32",
		"sint64",
		"fixed32",
		"fixed64",
		"sfixed32",
		"sfixed64",
		"bool",
		"string",
	};


	var allTypes = new List<string>(scalarTypesForMapKey)
	{
		"double",
		"float",
		"bytes",
		"map_type",
		"enum_type",
		"any_type",
		"defaults_type",
	};
#>
syntax = "proto3";

import "google/protobuf/any.proto";

package Primitives;

service PrimitiveService {
<#
	foreach (var type in allTypes)
	{
#>
  rpc Request_<#= type #>(<#= type #>_InOut) returns (<#= type #>_InOut);
  rpc Request_with_repeated_<#= type #>(<#= type #>_repeated_InOut) returns (<#= type #>_repeated_InOut);
<#
	}
#>
}

<#
	foreach (var type in allTypes)
	{
#>
message <#= type #>_InOut {
  <#= type #> value = 1;
}

message <#= type #>_repeated_InOut {
  repeated <#= type #> values = 1;
}
<#
	}
#>

enum enum_type {
	UNIVERSAL = 0;
	WEB = 1;
	IMAGES = 2;
	LOCAL = 3;
	NEWS = 4;
	PRODUCTS = 5;
	VIDEO = 6;
}

message map_type {
<#
	int number = 0;
	foreach (var type in scalarTypesForMapKey)
	{
		number++;
#>
	map<<#= type #>, string> map_key_<#= type #>_values = <#= number #>;
<#
	}
#>
}

message Stock {
	string stock_message = 1;
}

message Currency {
	string currency_message = 1;
}

message any_type {
    google.protobuf.Any instrument = 1;
}

message defaults_type {
  int32 field_int32 = 1;
  int64 field_int64 = 2;
  uint32 field_uint32 = 3;
  uint64 field_uint64 = 4;
  sint32 field_sint32 = 5;
  sint64 field_sint64 = 6;
  fixed32 field_fixed32 = 7;
  fixed64 field_fixed64 = 8;
  sfixed32 field_sfixed32 = 9;
  sfixed64 field_sfixed64 = 10;
  bool field_bool = 11;
  string field_string = 12;
  bytes field_bytes = 13;
  enum_type field_enum_type = 14;
}